{
  "extends": "stylelint-config-recommended-scss",
  "rules": {
    "scss/at-if-no-null": null,
    "rule-empty-line-before": "always-multi-line",
    "at-rule-empty-line-before": "never",
    "custom-property-empty-line-before": "never",
    "declaration-empty-line-before": "never",
    "selector-combinator-space-after": "never",
    "selector-combinator-space-before": "never"
  }
}
