.button {
  padding: 10px 15px;
  text-align: center;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  transition: color 300ms, background-color 300ms;
  border: none;

  &:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
