.button {
  padding: 10px 5px;
  min-width: 100px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #fff;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  transition: color 300ms, background-color 300ms;

  &:hover {
    color: #fff;
    background-color: transparent;
  }
}
