.section {
  padding-top: 20px;
  padding-bottom: 20px;

  .title {
    margin-bottom: 25px;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 16px;
  }

  .item {
    background-color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
    padding: 10px 8px;
  }

  .img {
    width: 100%;
    height: auto;
    transition: all 300ms;
  }

  .item:hover .img {
    transform: scale(1.05);
  }
  .productName {
    margin-bottom: 15px;
  }
}
