.productCard {
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  text-align: center;
  transition: all 300ms;
  overflow: hidden;
  display: block;
  position: relative;

  .productCardImg {
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 133%;
    position: relative;
  }

  .img {
    position: absolute;
    // width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    object-position: center;
    object-fit: cover;
    transition: all 300ms;
  }

  &:hover .img {
    transform: scale(1.05);
  }

  .productName {
    margin-bottom: 15px;
  }

  .body {
    padding: 8px;
  }
}
