.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 21px;

  .title {
    color: #000;
    line-height: 28.8px;
    letter-spacing: normal;
  }

  .filter {
    display: flex;
    align-items: center;
  }

  .saralash {
    margin-right: 25px;
  }
}
