.homeBanner {
  width: 100%;
  background-color: darkgray;
  aspect-ratio: 7/3;

  .controls {
    padding: 10px 0;
    text-align: right;
  }

  .btn {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}
