.desktopHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .logoContainer {
    margin-right: 25px;
  }

  .logo {
    font-size: 36px;
    font-weight: 700;
  }

  .menu {
    display: flex;
    align-items: center;
    list-style-type: none;
  }

  .menuItem {
    &:not(:last-child) {
      margin-right: 23px;
    }
  }

  .menuItemLink {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.5);

    &.active {
      color: #000;
    }
  }
}
