.header {
  padding: 20px 0;
  border-bottom: 1px solid #efefef;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logoContainer {
    margin-right: 25px;
  }

  .logo {
    font-size: 36px;
    font-weight: 700;
  }

  .menu {
    display: flex;
    align-items: center;
    list-style-type: none;
  }

  .menuItem {
    &:not(:last-child) {
      margin-right: 23px;
    }
  }

  .menuItemLink {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #000;
  }
}
