.footer {
  padding: 20px 0;
  border-top: 1px solid rgba(118, 121, 127, 0.2);
  color: #1f1f26;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container div {
    display: flex;
  }

  .text {
    font-size: 18px;

    &:not(:last-child) {
      margin-right: 35px;
    }
  }
}
